.vscode
__pycache__
src/python/notebooks/.ipynb_checkpoints/*
src/rust/**/Cargo.lock
src/rust/**/debug/
src/rust/**/target/
src/**/a.out
src/dotnet/**/obj/
src/dotnet/**/bin/
src/**/node_modules
src/cs/**/obj/
src/cs/**/bin/
src/boost/**/*.exe
src/cpp/**/*.exe
src/cpp/modern_challenges/b/
src/cpp/raylib/msvc/
src/cpp/raylib/mingw/
src/cpp/raylib/ping-pong/build/
src/cpp/**/b/
src/cpp/sfml/mingw/
src/cpp/sfml/msvc/
src/cpp/sfml/test/
src/sdl/msvc/
src/cpp/so/

