.vscode
__pycache__
src/asp.net/**/
src/asp.net/**/bin/
src/asp.net/**/obj/
src/python/notebooks/.ipynb_checkpoints/*
src/rust/**/Cargo.lock
src/rust/**/debug/
src/rust/**/target/
src/aoc/**/rust/**/Cargo.lock
src/aoc/**/rust/**/debug/
src/aoc/**/rust/**/target/
src/**/a.out
src/dotnet/**/obj/
src/dotnet/**/bin/
src/**/node_modules
src/cs/**/obj/
src/cs/**/bin/
src/boost/**/*.exe
src/aoc/**/*.exe
src/cpp/**/*.exe
src/cpp/modern_challenges/b/
src/cpp/raylib/msvc/
src/cpp/raylib/mingw/
src/cpp/raylib/ping-pong/build/
src/cpp/**/b/
src/cpp/sfml/mingw/
src/cpp/sfml/msvc/
src/cpp/sfml/test/
src/sdl/msvc/
src/cpp/so/
src/wx/**/build/
src/boost/**/build-mingw/
src/boost/**/build-msvc/
src/boost/**/build/
src/catch2/build-mingw/
src/catch2/build-msvc/
src/cpp/**/build-msvc/
src/cpp/sfml/maze-gen/build/
src/opengl/setup/build/
src/sdl/build/
src/opengl/learn_opengl/build/